# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Fine-tuned heavy weights folder (optional)
llama3_har_finetuned/

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini
*.tmp

# Temporary logs
*.log
